.login_container{
    background-color: hsl(240, 56%, 5%);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 100vw;
    height: 100vh;   
    .login_area{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60%;
        .login_left{
            flex: 1;
            background-color: white;
            color: hsl(240, 56%, 5%);
            border: 1px solid rgb(11, 11, 81);
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            form{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;

                input{
                    width: 80%;
                    height: 30px;
                    outline: none;
                    padding: 5px;
                }
                button{
                    width: 40%;
                    height: 30px;
                    padding: 5px;
                    background-color: rgb(11, 11, 81);
                    font-weight: 600;
                    border: none;
                    color: white;
                    cursor: pointer;
                    &:hover{
                        color: rgb(11, 11, 81);
                        border: 1px solid rgb(11, 11, 81);
                        background-color: white;
                        border-radius: 3px;
                    }
                }
                p{
                    font-size: 1rem;
                }
            }
        }
        .login_right{
            flex: 1;
            position: relative;
            overflow: hidden;
            &::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgb(11, 11, 81);
                top: 0;left: 0;
                opacity: 0.6;
                z-index: 1;
            }
            img{
                width: 100%;
                height: 400px;
                object-fit: cover;
                object-position: 20% 70%;
            }
            .words{
                position: absolute;
                bottom: 10%;
                left: 0;
                z-index: 2;
                color: white;
                padding: 1rem;
                h3{
                    margin-bottom: 5px;
                    font-family: 'Poppins'serif;
                }
                p{
                    font-family: 'Roboto Mono' serif;
                    font-size: 0.8rem;
                }
            }
        }
    }
}