.home_container{
  padding: 4rem 1rem;
  height: 500px;
  .home_top{
    display: flex;
    height: 50%;
    border: 1px solid grey;
    .home_tleft{
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left_profile{
            padding: 1rem;
            display: flex;
            flex-direction: column;
            gap: 10px;
            img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
            }
            span{
                font-size: 1rem;
                font-family: 'Roboto Mono',serif;
            }
            .occupation{
                display: flex;
                gap: 10px;
            }
            p{
                font-size: 0.6rem;
            }
        }
        .right_profile{
            display: flex;
            flex-direction: column;
            gap: 30px;
            .profile_top, .profile_bottom{
                display: flex;
                align-items: center;
                gap: 40px;
            }
        }
    }
    .home_tright{
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1.5;
        position: relative;
        .pie{
            position: absolute;
            top: 0;
            left: 25%;
        }
    }
}
.home_bottom{
    height: 50%;
    border: 1px solid grey;
    display: flex;
    .home_bleft{
        flex: 1;
    }
    .home_bright{
        flex: 1;
    }
  }
}