.navbar_container{
    height: 10%;
    width: 90%;
    margin: 0 auto;
    padding: 0.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .left_nav, .right_nav{
        display: flex;
        align-items: center;
        font-size: 1rem;
        font-weight: 500;
        font-family: 'Roboto Mono', calibri;
        gap: 10px;
    }
}